.home{
    background-image: url("../../images/home1.jpg");
    height: 50em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home_title{
    text-align: center;
}
.home_title p{
    color: white;
    font-size: 2em;
}



.back{
    background: linear-gradient(90deg, #3282B8 0%, #0F4C75 60%);
}  
h1{
    font-size: 5em;
    color: white;
}

h2{
    text-align: center;
    margin-top: 0em;
    padding-top: 40px;
}
hr{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 760px) {
    .home_title h1{
        font-size: 4em;
        margin: 0;
    }
    .home_title h2{
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 490px){
    .home_title{
        padding-top: 2em;
    }
}

